<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Rmit news</title>
  </head>
  <body>
    <div class="center jumbotron">
        <h3>Rmit News</h3>
     

 
</div>


            
  
  </body>
</html>