<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Rmit news</title>
  </head>
  <body>
    <div class="center jumbotron">
        <h3>Rmit News</h3>
     

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


            
  
  </body>
</html>